@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ABC Favorit';
    src: url(./fonts/ABCFavorit-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'ABC Favorit';
    font-weight: 300;
    src: url(./fonts/ABCFavorit-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'ABC Favorit';
    font-weight: 700;
    src: url(./fonts/ABCFavorit-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'ABC Favorit';
    font-weight: 800;
    src: url(./fonts/ABCFavorit-Bold.ttf) format('truetype');
}

.artist-dashboard-link {
    background: linear-gradient(#C296ED, #6995FF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* Card Slider (Flicking) */

.flicking-viewport {
    position: relative;
    overflow: hidden;
    width:384px;
    height: 324px;

}

.flicking-viewport.vertical {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.flicking-viewport.vertical>.flicking-camera {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flicking-viewport.flicking-hidden>.flicking-camera>* {
    visibility: hidden;
}

.flicking-camera {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    z-index: 1;
    will-change: transform;
}

.flicking-camera>* {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}